@media (min-width: 576px) {
  .downloadPopover {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  .downloadPopover {
    max-width: 410px;
  }
}

@media (min-width: 992px) {
  .downloadPopover {
    max-width: 500px;
  }
}
