[package]
name = "mithril-end-to-end"
version = "0.4.19"
authors = { workspace = true }
edition = { workspace = true }
documentation = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
default-run = "mithril-end-to-end"

[[bin]]
name = "load-aggregator"
test = false
bench = false

[dependencies]
anyhow = "1.0.79"
async-recursion = "1.0.5"
async-trait = "0.1.77"
clap = { version = "4.4.18", features = ["derive"] }
glob = "0.3.1"
hex = "0.4.3"
indicatif = { version = "0.17.7", features = ["tokio"] }
mithril-common = { path = "../../mithril-common", features = ["full"] }
mithril-doc = { path = "../../internal/mithril-doc" }
reqwest = { version = "0.12.0", features = ["json"] }
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"
serde_yaml = "0.9.31"
slog = { version = "2.7.0", features = [
    "max_level_trace",
    "release_max_level_trace",
] }
slog-async = "2.8.0"
slog-scope = "4.4.0"
slog-term = "2.9.0"
thiserror = "1.0.56"
tokio = { version = "1.37.0", features = ["full"] }
tokio-util = { version = "0.7.10", features = ["codec"] }

[features]
default = []
allow_skip_signer_certification = []
