[package]
name = "mithril-end-to-end"
version = "0.4.97"
authors = { workspace = true }
edition = { workspace = true }
documentation = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
default-run = "mithril-end-to-end"

[[bin]]
name = "load-aggregator"
test = false
bench = false

[features]
default = []
allow_skip_signer_certification = []
bundle_tls = ["reqwest/native-tls-vendored"]

[dependencies]
anyhow = { workspace = true }
async-recursion = { workspace = true }
clap = { workspace = true }
indicatif = { version = "0.18.0", features = ["tokio"] }
mithril-cardano-node-chain = { path = "../../internal/cardano-node/mithril-cardano-node-chain" }
mithril-cardano-node-internal-database = { path = "../../internal/cardano-node/mithril-cardano-node-internal-database" }
mithril-common = { path = "../../mithril-common", features = ["full"] }
mithril-doc = { path = "../../internal/mithril-doc" }
reqwest = { workspace = true, features = ["default"] }
serde = { workspace = true }
serde_json = { workspace = true }
slog = { workspace = true, features = [
    "max_level_trace",
    "release_max_level_trace",
] }
slog-async = { workspace = true }
slog-scope = "4.4.0"
slog-term = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "process", "signal"] }
