version: "3.9"

services:
  prometheus:
    image: prom/prometheus:v2.45.0
    container_name: prometheus
    user: ${CURRENT_UID}
    profiles:
      - tools
      - monitoring
      - all
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ../data/monitoring/prometheus:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/cardano.json:/etc/prometheus/cardano.json:ro
      - ./prometheus/mithril-signer.json:/etc/prometheus/mithril-signer.json:ro
      - ./prometheus/mithril-aggregator.json:/etc/prometheus/mithril-aggregator.json:ro
    logging:
      driver: "${LOGGING_DRIVER}"
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=Host(`${PROMETHEUS_HOST}`)"
      - "traefik.http.routers.prometheus.tls=true"
      - "traefik.http.routers.prometheus.tls.certresolver=lets-encrypt"
      - "traefik.http.routers.prometheus.middlewares=prometheus-auth"
      - "traefik.http.middlewares.prometheus-auth.basicauth.users=${PROMETHEUS_AUTH_USER_PASSWORD}"

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    profiles:
      - tools
      - monitoring
      - all
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    logging:
      driver: "${LOGGING_DRIVER}"
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"

  process-exporter:
    image: ncabatoff/process-exporter:latest
    container_name: process-exporter
    profiles:
      - tools
      - monitoring
      - all
    restart: always
    ports:
      - "9256:9256"
    volumes:
      - /proc:/host/proc:ro
      - ./prometheus/process_exporter/process.yml:/config/process.yml:ro
    command:
      - "-procfs=/host/proc"
      - "-config.path=/config/process.yml"
    logging:
      driver: "${LOGGING_DRIVER}"
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"

  disk-usage-exporter:
    container_name: disk-usage-exporter
    restart: always
    build:
      context: .
      dockerfile: ./prometheus/disk_usage_exporter/Dockerfile
      args:
        DISK_USAGE_EXPORTER_VERSION: 0.6.0
    profiles:
      - all
    ports:
      - "9995:9995"
    volumes:
      - ./prometheus/disk_usage_exporter/disk_usage_exporter.yml:/config/disk_usage_exporter.yml:ro
      - ../data/${NETWORK}/:/data
    command: ["run", "--config", "/config/disk_usage_exporter.yml"]

  loki:
    image: grafana/loki:2.8.0
    container_name: loki
    user: ${CURRENT_UID}
    profiles:
      - tools
      - monitoring
      - all
    ports:
      - "3100:3100"
    volumes:
      - ../data/monitoring/loki:/tmp/loki
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml
    command: -config.file=/etc/loki/local-config.yaml
    logging:
      driver: "${LOGGING_DRIVER}"
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.loki.rule=Host(`${LOKI_HOST}`)"
      - "traefik.http.routers.loki.tls=true"
      - "traefik.http.routers.loki.tls.certresolver=lets-encrypt"
      - "traefik.http.routers.loki.middlewares=loki-auth"
      - "traefik.http.middlewares.loki-auth.basicauth.users=${LOKI_AUTH_USER_PASSWORD}"

  promtail:
    image: grafana/promtail:2.8.0
    container_name: promtail
    profiles:
      - tools
      - monitoring
      - all
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers
      - ./promtail/promtail-config.yml:/etc/promtail/promtail-config.yml
    command: -config.file=/etc/promtail/promtail-config.yml -config.expand-env=true
    logging:
      driver: "${LOGGING_DRIVER}"
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"

networks:
  default:
    name: mithril_network
    external: true
