services:
  reverse-proxy:
    image: traefik:3.6
    container_name: reverse-proxy
    restart: always
    user: "${CURRENT_UID}:${DOCKER_GID}"
    profiles:
      - reverse-proxy
      - all
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./traefik:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock:ro
    logging:
      driver: "${LOGGING_DRIVER}"
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
        max-size: "${LOGGING_MAX_SIZE}"
        max-file: "${LOGGING_MAX_FILE}"

networks:
  default:
    name: mithril_network
    external: true
