*~
*.dump
.s.PGSQL*
.DS_Store
.direnv/
.tmp/
target
target-*
test-results.xml
mithril-stm/c-tests/tests
mithril-stm/c-tests/tests.dSYM/
mithril-stm/proptest-regressions/
mithril-infra/.terraform*
mithril-infra/terraform.tfstate*
mithril-infra/*.tfvars
justfile

