mithril.cabal
.stack-work/
.direnv/
mithril-stm/c-tests/tests
mithril-stm/c-tests/tests.dSYM/
*~
mithril-stm/proptest-regressions/
*.dump
.tmp/
.s.PGSQL*
.DS_Store
test-results.xml
target/
mithril-infra/.terraform*
mithril-infra/terraform.tfstate*
mithril-infra/*.tfvars

