{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "printWidth": 100,
        "bracketSameLine": true
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
