openapi: "3.0.0"
info:
  # The protocol version is embedded in the code as constant in the
  # `mithril-common/src/lib.rs` file. If you plan to update it
  # here to reflect changes in the API, please also update the constant in the
  # Rust file.
  version: 0.1.0
  title: Mithril Aggregator Server
  description: |
    The REST API provided by a Mithril Aggregator Node in a Mithril network.

    You can play with it [here](https://mithril.network/openapi-ui/).
  termsOfService: http://swagger.io/terms/
  contact:
    name: Mithril Team
    url: https://github.com/input-output-hk/mithril
  license:
    name: BSD 3-Clause License
    url: https://github.com/input-output-hk/mithril/blob/main/LICENSE
servers:
  - url: https://aggregator.release-preprod.api.mithril.network/aggregator
  - url: https://aggregator.pre-release-preview.api.mithril.network/aggregator
  - url: https://aggregator.testing-preview.api.mithril.network/aggregator
  - url: http://localhost:8080/aggregator
paths:
  /epoch-settings:
    get:
      summary: Get current epoch settings
      description: |
        Returns the information related to the current epoch:
          * protocol parameters for current epoch
          * protocol parameters for next epoch (to setup cryptography, allowing signers to register)
      responses:
        "200":
          description: epoch settings found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpochSettingsMessage"
        "412":
          description: API version mismatch
        default:
          description: epoch settings error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /certificate-pending:
    get:
      summary: Get current pending certificate information
      description: |
        Returns the information related to the current pending certificate:
          * protocol parameters, for current and next epoch (to setup cryptography)
          * beacon information (where on the chain the pending certificate should be triggered)
          * verification keys of the signers, for current and next epoch
      responses:
        "200":
          description: pending certificate found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificatePending"
        "204":
          description: no pending certificate available
        "412":
          description: API version mismatch
        default:
          description: pending certificate error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /certificate/{certificate_hash}:
    get:
      summary: Get certificate by hash
      description: |
        Returns the certificate identified by its hash
      parameters:
        - name: certificate_hash
          in: path
          description: Hash of the certificate to retrieve
          required: true
          schema:
            type: string
            format: bytes
          example: "AsB0vSvijo8FIfrGFwBtdCNQVhBc9P24qQwKgWw4mr5kRZL"
      responses:
        "200":
          description: certificate found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateMessage"
        "404":
          description: certificate not found
        "412":
          description: API version mismatch
        default:
          description: pending certificate error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /snapshots:
    get:
      summary: Get most recent snapshots
      description: |
        Returns the list of the most recent snapshots
      responses:
        "200":
          description: snapshot found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Snapshot"
        "412":
          description: API version mismatch
        default:
          description: snapshot retrieval error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /snapshot/{digest}/download:
    get:
      summary: Download the snapshot
      description: |
        Returns the snapshot archive binary content
      parameters:
        - name: digest
          in: path
          description: Digest of the snapshot to download
          required: true
          schema:
            type: string
            format: bytes
          example: "NQVhBc9frGFwBtdCKgWw4P24qQwAsB0vSvijo8FImr5kRZL"
      responses:
        "200":
          description: snapshot found
          content:
            application/gzip:
              schema:
                type: string
                format: binary
        "404":
          description: snapshot not found
        "412":
          description: API version mismatch
        default:
          description: snapshot retrieval error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /snapshot/{digest}:
    get:
      summary: Get snapshot information
      description: |
        Returns the information of a snapshot and where to retrieve its binary content
      parameters:
        - name: digest
          in: path
          description: Digest of the snapshot to retrieve
          required: true
          schema:
            type: string
            format: bytes
          example: "NQVhBc9frGFwBtdCKgWw4P24qQwAsB0vSvijo8FImr5kRZL"
      responses:
        "200":
          description: snapshot found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapshotMessage"
        "404":
          description: snapshot not found
        "412":
          description: API version mismatch
        default:
          description: snapshot retrieval error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /register-signer:
    post:
      summary: Registers signer
      description: |
        Registers a signer for the next certificate production
      requestBody:
        description: Signer information to register
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterSignerMessage"
      responses:
        "201":
          description: signer registration succeeded
        "400":
          description: signer registration bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "412":
          description: API version mismatch
        default:
          description: signer registration error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /register-signatures:
    post:
      summary: Registers signatures
      description: |
        Registers the single signatures from a signer participant for the pending certificate
      requestBody:
        description: List of signatures
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterSingleSignatureMessage"
      responses:
        "201":
          description: signatures registration succeeded
        "400":
          description: signer registration bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: signatures registration already done
        "412":
          description: API version mismatch
        default:
          description: signatures registration error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    EpochSettingsMessage:
      description: Epoch settings
      type: object
      additionalProperties: false
      required:
        - epoch
        - protocol
        - next_protocol
      properties:
        epoch:
          description: Cardano chain epoch number
          type: integer
          format: int64
        protocol:
          $ref: "#/components/schemas/ProtocolParameters"
        next_protocol:
          $ref: "#/components/schemas/ProtocolParameters"
      example: 
        { 
          "epoch": 329,
          "protocol": { "k": 857, "m": 6172, "phi_f": 0.2 },
          "next_protocol": { "k": 2422, "m": 20973, "phi_f": 0.2 }
        }
    ProtocolParameters:
      description: Protocol cryptographic parameters
      type: object
      additionalProperties: true
      required:
        - k
        - m
        - phi_f
      properties:
        k:
          description: Quorum parameter
          type: integer
          format: int64
        m:
          description: Security parameter (number of lotteries)
          type: integer
          format: int64
        phi_f:
          description: f in phi(w) = 1 - (1 - f)^w, where w is the stake of a participant
          type: number
          format: double
      example: { "k": 857, "m": 6172, "phi_f": 0.2 }

    Beacon:
      description: Beacon represents a point in the Cardano chain at which a Mithril certificate should be produced
      type: object
      additionalProperties: true
      required:
        - network
        - epoch
        - immutable_file_number
      properties:
        network:
          description: Cardano network
          type: string
        epoch:
          description: Cardano chain epoch number
          type: integer
          format: int64
        immutable_file_number:
          description: Number of the last immutable file that should be included the snapshot
          type: integer
          format: int64
      example:
        { "network": "mainnet", "epoch": 329, "immutable_file_number": 7060000 }

    CertificatePending:
      description: CertificatePending represents all the information related to the certificate currently expecting to receive quorum of single signatures
      type: object
      additionalProperties: false
      required:
        - beacon
        - protocol
        - next_protocol
        - signers
        - next_signers
      properties:
        beacon:
          $ref: "#/components/schemas/Beacon"
        protocol:
          $ref: "#/components/schemas/ProtocolParameters"
        next_protocol:
          $ref: "#/components/schemas/ProtocolParameters"
        signers:
          type: array
          items:
            $ref: "#/components/schemas/Signer"
        next_signers:
          type: array
          items:
            $ref: "#/components/schemas/Signer"

    Stake:
      description: Stake represents the stakes of a participant in the Cardano chain
      type: object
      additionalProperties: true
      required:
        - stake
      properties:
        stake:
          description: Stake share as computed in the 'stake distribution' by the Cardano Node, multiplied by a billion (1.0e9)
          type: integer
          format: int64
      example: { "stake": "1234" }

    Signer:
      description: Signer represents a signing participant in the network
      type: object
      additionalProperties: true
      required:
        - party_id
        - verification_key
      properties:
        party_id:
          description: The unique identifier of the signer
          type: string
        verification_key:
          description: The public key used to authenticate signer signature
          type: string
          format: byte
        verification_key_signature:
          description: The signature of the verification_key (signed by the Cardano node KES secret key)
          type: string
          format: byte
        operational_certificate:
          description: The operational certificate of the stake pool operator attached to the signer node
          type: string
          format: byte
        kes_period:
          description: The number of updates of the KES secret key that signed the verification key
          type: integer
          format: int64
      example:
        {
          "party_id": "1234567890",
          "verification_key": "AsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKbo",
          "verification_key_signature": "wBtdCNQZL+IUA9XXuAsB0vB0vSvijo8FIfrG/FSvijo8FIfrG/FwBtdCNQ7RiCHSRem3MmHo",
          "operational_certificate": "AsB0vSv4qQwKgWw4mem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCwKgWw4mrr5kRZL+IUA9XXu7RiCHSR5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQ+IvVzKLgmaLiyb+xyV6Npbxvu+Rem3MmHoKbo",
          "kes_period": 123,
        }

    RegisterSignerMessage:
      description: This message represents a signing participant in the network.
      allOf:
        - $ref: "#/components/schemas/Signer"

    SignerWithStake:
      description: Signer represents a signing party in the network (including its stakes)
      additionalProperties: true
      allOf:
        - $ref: "#/components/schemas/Signer"
        - $ref: "#/components/schemas/Stake"

    RegisterSingleSignatureMessage:
      description: |
          This message holds a Signer Single Signature with the
          list of won indexes in the lottery.
      type: object
      additionalProperties: false
      required:
        - party_id
        - signature
        - indexes
      properties:
        party_id:
          description: The unique identifier of the signer
          type: string
        signature:
          description: The single signature of the digest
          type: string
          format: byte
        indexes:
          description: The indexes of the lottery won that lead to the single signature
          type: array
          items:
            type: integer
            format: int64
      example:
        {
          "party_id": "1234567890",
          "index": 25,
          "signature": "VhBc9P24qQwKgWw4mr5kRAsB0vSvijo8FIfrG/FwBtdCNQZL+IUA9XXuAsB0vSvijo8FIfrG/FwBtdCNQ7RiCHSRem3MmHoKbo",
        }

    ProtocolMessageParts:
      description: ProtocolMessage represents a message that is signed (or verified) by the Mithril protocol
      type: object
      additionalProperties: true
      required:
        - snapshot_digest
        - next_aggregate_verification_key
      properties:
        snapshot_digest:
          description: Digest of the snapshot archive
          type: string
          format: bytes
        next_aggregate_verification_key:
          description: Aggregate verification key (AVK) that will be used to create the next multi signature
          type: string
          format: bytes
      example:
        {
          "snapshot_digest": "XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCwKgWw4mr5kRZL+I",
          "next_aggregate_verification_key": "NQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQ+IvVzKLgmaLiyb+xyV6Npbxvu+KhLuxU7R7q3JUmOkESHoro6N",
        }

    ProtocolMessage:
      description: ProtocolMessage represents a message that is signed (or verified) by the Mithril protocol
      type: object
      additionalProperties: false
      required:
        - message_parts
      properties:
        message_parts:
          $ref: "#/components/schemas/ProtocolMessageParts"
      example:
        {
          "snapshot_digest": "XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCwKgWw4mr5kRZL+I",
          "next_aggregate_verification_key": "NQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQ+IvVzKLgmaLiyb+xyV6Npbxvu+KhLuxU7R7q3JUmOkESHoro6N",
        }

    CertificateMetadata:
      description: CertificateMetadata represents the metadata associated to a Certificate
      type: object
      additionalProperties: false
      required:
        - version
        - parameters
        - initiated_at
        - sealed_at
        - signers
      properties:
        version:
          description: Version of the protocol
          type: string
          format: bytes
        parameters:
          $ref: "#/components/schemas/ProtocolParameters"
        initiated_at:
          description: Date and time at which the certificate was initialized and ready to accept single signatures from signers
          type: string
          format: date-time
        sealed_at:
          description: Date and time at which the certificate was sealed (when the quorum of single signatures was reached so that a multi signature could be aggregated from them)
          type: string
          format: date-time
        signers:
          description: The list of the signers with their stakes and verification keys
          type: array
          items:
            $ref: "#/components/schemas/SignerWithStake"
      example:
        {
          "version": "0.1.0",
          "parameters": { "k": 5, "m": 100, "phi_f": 0.65 },
          "initiated_at": "2022-07-17T18:51:23.192811338Z",
          "sealed_at": "2022-07-17T18:51:35.830832580Z",
          "signers":
            [
              {
                "party_id": "1234567890",
                "verification_key": "AsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKbo",
                "stake": "1234",
              },
              {
                "party_id": "2345678900",
                "verification_key": "NQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdC",
                "stake": "2345",
              },
            ],
        }

    CertificateMessage:
      description: Certificate represents a Mithril certificate embedding a Mithril STM multi signature
      type: object
      additionalProperties: false
      required:
        - hash
        - previous_hash
        - beacon
        - metadata
        - protocol_message
        - signed_message
        - aggregate_verification_key
        - multi_signature
        - genesis_signature
      properties:
        hash:
          description: Hash of the current certificate
          type: string
          format: bytes
        previous_hash:
          description: Hash of the previous certificate
          type: string
          format: bytes
        beacon:
          $ref: "#/components/schemas/Beacon"
        metadata:
          $ref: "#/components/schemas/CertificateMetadata"
        protocol_message:
          description: Protocol message
          $ref: "#/components/schemas/ProtocolMessage"
        signed_message:
          description: Hash of the protocol message that is signed by the signer participants
          type: string
          format: bytes
        aggregate_verification_key:
          description: Aggregate verification key used to verify the multi signature
          type: string
          format: bytes
        multi_signature:
          description: STM multi signature created from a quorum of single signatures from the signers
          type: string
          format: bytes
        genesis_signature:
          description: Genesis signature created to bootstrap the certificate chain with the Cardano Genesis Keys
          type: string
          format: bytes
      example:
        {
          "hash": "AsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKbo",
          "previous_hash": "wKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQ",
          "beacon":
            {
              "network": "mainnet",
              "epoch": 329,
              "immutable_file_number": 7060000,
            },
          "metadata":
            {
              "version": "0.1.0",
              "parameters": { "k": 5, "m": 100, "phi_f": 0.65 },
              "initiated_at": "2022-07-17T18:51:23.192811338Z",
              "sealed_at": "2022-07-17T18:51:35.830832580Z",
              "signers":
                [
                  {
                    "party_id": "1234567890",
                    "verification_key": "AsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKbo",
                    "stake": "1234",
                  },
                  {
                    "party_id": "2345678900",
                    "verification_key": "NQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdC",
                    "stake": "2345",
                  },
                ],
            },
          "protocol_message":
            {
              "message_parts":
                {
                  "snapshot_digest": "6367ee65d0d1272e6e70736a1ea2cae34015874517f6328364f6b73930966732",
                  "next_aggregate_verification_key": "NQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKboAsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQ",
                },
            },
          "signed_message": "24qQwKgWw4mr5kRZLIUA9XAsB0vSvijo8FIfrGFwBtdCNQVhBc9PXu7RiCHSRem3MmHoKbo",
          "aggregate_verification_key": "NQVhBc9P24tdCwKgWw4mr5kRZL+IUSRem3MmHoKboAsB0vSvijo8FIfrG/FwBoAsB0vSvijo8FA9XXu7RiCHSRem3MmHoKbqQwKgWw4mr5kRZL+IUA9XXu7RiCHIfrG/FwBtdCNQVhBc9P24qQ",
          "multi_signature": "PstW/WgIMl2si/Jr6ksKgUBxClH5wy6Oz/GAkimenORbFnNztkdJsjktUVvf4sA+IvVzKLgmaLiyb+xyV6Npbxvu+KhLuxU7R7q3JUmOkESHoro6NBf8k44GyPyugYAattbuRTTTD2oLmQAtaNktxNzQ8x2qPjFyBfxAzxmoQSVzwSpC4SriHKXtQY5aHYAJhpaTOGSJT/E4gbVnPT/esi7u9isavWwdAbAilRTuwlgxYvRaHsFat+v6vPNsagB5lNPzTFm0qMnzLTp/Fb6fVRXug8WtC+pqzRbx1eZd+vcoCiFS7GNuAAreb3+fhQBeO4kC4OzUEF+6vHrAJNCgrNBDLn5zypWaHflR8E+JOOOjX7BneD0MR+HzMmhh+wAqEplbC4k6+AOPDpo3ZGBNTVwF3C9L5Mr1Pv9SIyt1SIp63SGcu4Ebp339Ub5PWUBYwNy8VRkaw97+DvK8xq6GLIiT3EZbhGNxhb5PZKOTUITQnObf44Qyb5/tumfvFwBppBsUg2rTjB3QhsUCOT+zn6gZFGPzBvhgeqsi6BL3eol1E/M64fC7tg3Uq1rvicBBQAAAAAAAADXMYQy5N8XGpkc45FTCyUBZymAUvzSBxH6v4pTk+mivPuiM5bjNGSRojJjwCP/QACaztwvov6PIcisC4W3bI7zA0+S0HW8jdhLKCwjHBPdw0FQqygIqINGnQMv8xZPkgH/1VET3VKvHcD234uA4FkMVSQepguV6iuo2P+dhBClYJ4cUbQRzfcH4SVxk1PRtwAMujjBGpSVmN3yNn2JCYGTn7VCJ2n1A9rzoxOBbnwOp4vH5DXYxLDhmqfNBCG0IgG1AglRDESbc0zejMT7E0Jz697DKSx4d9yEDcrnOy1i/AK3qD2C8oIxZmTutcWJ9QD8PaRyHnWcoein+dpf4lFA/1aENiU+/Hj2dvAsYo0rVwIptawbwYHHFrJjJZEMPAE+67qvDqgY0by7opFHuRNuAI1SpD7kCbTWroWpzNFSHqldXa6WrA/+olZ6NZgZ2QCiNgS7TFbkzntHR8SlVB4NZGCCUACzi/tIFoku5IE8b782xZVFISNtxUSB6BEQ1wCfFEQdpQUMaYPkf6dXdzyNvTC/QRVYuCT4LE4SScZ5H+q7iLNX06lAO12Y2KRmaAGPB7X8KVtgxzDrUm1rz0TL+Q4AIvObmGvTqaUfvhDW6u+pJdwtTo8qX4jtpCD1JQAnVgbOXesRkvQizSH9F1/NFo6v6xhp+7k2O+foHl1VdKv+HdExbcaCG6lOzEX0TgG8+2Ubsk6PSe/r+hG70aGXx/TLeabmObSFd1qR4tLsuSG+hItnzCK7/71GcHT7mADXM0mMpotjXCH/TybkbqRxFJnvYYFR7wDX6bbqvA2JRfkM/WGwMuuxLI9xpyKvXQBm2vhmZW7HixO/+VAzXeRgL4MQwyCjLPcIk54PiE7/wHf8DuS671OEMbCl5nIhTwAY1gAWKMppO88S/yX4la3dRxFgDoVXz9h4yAHOFO4S2WHLi1Efa7Eou6lJG8LchQADAAAAAAAAAAQAAAAAAAAAAwAAAAAAAAAoAQAAAAAAABmPxolJhPV9UhWaqtcGj73DNS3D8k0SW5wxC69TULyQftw3LMJ6gEq9JCtClz6rAIBR7/rLQ+RSUPdwwUTxhet1Caowo9M8kSQh0/1xrsBMOO0tybVKgXDL939Fjg0tANfeIqExUOd3pN1LEvLofMEHtIWX3XR/HWm6+4j+7RLvN5H8wz05t1WmpRFLlRBNAD+e0mzT1HzRC+zj3Mi9TR/pKyiBs6IWmksThFCbTz0bHP8LrkOYOXZpFEyus79DAflROlNV5UNTyYlUcjt+qX2FW04GpDzD7hL+fZfaNpqxCIaCnyu2g4URfyPnhs6JAAuRdfkGp94+M9QBTEzk04vINtozDSwn+t9/mOQ42aXYcUFtRWF/ITZAr2KLrkrMAAEAAAAAAAAAQAAAAAAAAACS1Uy2JW149bHgtcTs4b4bNbhSTNes6GqQc+L+CcuuLTZjC91wORbvJeKFVBCimk1zfph3IrPxaTkPqzjLmmLkQAAAAAAAAAD0K1haG42nP7rNmUQDEDN278L8qUlc282hEBMmQ3WmSs3nLgG1RHMpg+Ue0h2+AqqSXuWUWkNmchkwmuhtkoJM1zGEMuTfFxqZHOORUwslAWcpgFL80gcR+r+KU5Pporz7ojOW4zRkkaIyY8Aj/0AAms7cL6L+jyHIrAuFt2yO8wNPktB1vI3YSygsIxwT3cNBUKsoCKiDRp0DL/MWT5IB/9VRE91Srx3A9t+LgOBZDFUkHqYLleorqNj/nYQQpWCeHFG0Ec33B+ElcZNT0bcADLo4wRqUlZjd8jZ9iQmBk5+1Qidp9QPa86MTgW58DqeLx+Q12MSw4ZqnzQQhtCIBtQIJUQxEm3NM3ozE+xNCc+vewykseHfchA3K5zstYvwCt6g9gvKCMWZk7rXFifUA/D2kch51nKHop/naX+JRQP9WhDYlPvx49nbwLGKNK1cCKbWsG8GBxxayYyWRDDwBPuu6rw6oGNG8u6KRR7kTbgCNUqQ+5Am01q6FqczRUh6pXV2ulqwP/qJWejWYGdkAojYEu0xW5M57R0fEpVQeDWRgglAAs4v7SBaJLuSBPG+/NsWVRSEjbcVEgegRENcAnxREHaUFDGmD5H+nV3c8jb0wv0EVWLgk+CxOEknGeR/qu4izV9OpQDtdmNikZmgBjwe1/ClbYMcw61Jta89Ey/kOACLzm5hr06mlH74Q1urvqSXcLU6PKl+I7aQg9SUAJ1YGzl3rEZL0Is0h/RdfzRaOr+sYafu5Njvn6B5dVXSr/h3RMW3GghupTsxF9E4BvPtlG7JOj0nv6/oRu9Ghl8f0y3mm5jm0hXdakeLS7LkhvoSLZ8wiu/+9RnB0+5gA1zNJjKaLY1wh/08m5G6kcRSZ72GBUe8A1+m26rwNiUX5DP1hsDLrsSyPcacir10AZtr4ZmVux4sTv/lQM13kYC+DEMMgoyz3CJOeD4hO/8B3/A7kuu9ThDGwpeZyIU8AGNYAFijKaTvPEv8l+JWt3UcRYA6FV8/YeMgBzhTuEtlhy4tRH2uxKLupSRvC3IUAAwAAAAAAAAAEAAAAAAAAAAMAAAAAAAAAKAEAAAAAAAAZj8aJSYT1fVIVmqrXBo+9wzUtw/JNElucMQuvU1C8kH7cNyzCeoBKvSQrQpc+qwCAUe/6y0PkUlD3cMFE8YXrdQmqMKPTPJEkIdP9ca7ATDjtLcm1SoFwy/d/RY4NLQDX3iKhMVDnd6TdSxLy6HzBB7SFl910fx1puvuI/u0S7zeR/MM9ObdVpqURS5UQTQA/ntJs09R80Qvs49zIvU0f6SsogbOiFppLE4RQm089Gxz/C65DmDl2aRRMrrO/QwH5UTpTVeVDU8mJVHI7fql9hVtOBqQ8w+4S/n2X2jaasQiGgp8rtoOFEX8j54bOiQALkXX5BqfePjPUAUxM5NOLyDbaMw0sJ/rff5jkONml2HFBbUVhfyE2QK9ii65KzAABAAAAAAAAAEAAAAAAAAAAktVMtiVtePWx4LXE7OG+GzW4UkzXrOhqkHPi/gnLri02YwvdcDkW7yXihVQQoppNc36YdyKz8Wk5D6s4y5pi5EAAAAAAAAAA9CtYWhuNpz+6zZlEAxAzdu/C/KlJXNvNoRATJkN1pkrN5y4BtURzKYPlHtIdvgKqkl7llFpDZnIZMJrobZKCTNcxhDLk3xcamRzjkVMLJQFnKYBS/NIHEfq/ilOT6aK8+6IzluM0ZJGiMmPAI/9AAJrO3C+i/o8hyKwLhbdsjvMDT5LQdbyN2EsoLCMcE93DQVCrKAiog0adAy/zFk+SAf/VURPdUq8dwPbfi4DgWQxVJB6mC5XqK6jY/52EEKVgnhxRtBHN9wfhJXGTU9G3AAy6OMEalJWY3fI2fYkJgZOftUInafUD2vOjE4FufA6ni8fkNdjEsOGap80EIbQiAbUCCVEMRJtzTN6MxPsTQnPr3sMpLHh33IQNyuc7LWL8AreoPYLygjFmZO61xYn1APw9pHIedZyh6Kf52l/iUUD/VoQ2JT78ePZ28CxijStXAim1rBvBgccWsmMlkQw8AT7ruq8OqBjRvLuikUe5E24AjVKkPuQJtNauhanM0VIeqV1drpasD/6iVno1mBnZAKI2BLtMVuTOe0dHxKVUHg1kYIJQALOL+0gWiS7kgTxvvzbFlUUhI23FRIHoERDXAJ8URB2lBQxpg+R/p1d3PI29ML9BFVi4JPgsThJJxnkf6ruIs1fTqUA7XZjYpGZoAY8HtfwpW2DHMOtSbWvPRMv5DgAi85uYa9OppR++ENbq76kl3C1OjypfiO2kIPUlACdWBs5d6xGS9CLNIf0XX80Wjq/rGGn7uTY75+geXVV0q/4d0TFtxoIbqU7MRfROAbz7ZRuyTo9J7+v6EbvRoZfH9Mt5puY5tIV3WpHi0uy5Ib6Ei2fMIrv/vUZwdPuYANczSYymi2NcIf9PJuRupHEUme9hgVHvANfptuq8DYlF+Qz9YbAy67Esj3GnIq9dAGba+GZlbseLE7/5UDNd5GAvgxDDIKMs9wiTng+ITv/Ad/wO5LrvU4QxsKXmciFPABjWABYoymk7zxL/JfiVrd1HEWAOhVfP2HjIAc4U7hLZYcuLUR9rsSi7qUkbwtyFAAMAAAAAAAAABAAAAAAAAAADAAAAAAAAACgBAAAAAAAAGY/GiUmE9X1SFZqq1waPvcM1LcPyTRJbnDELr1NQvJB+3DcswnqASr0kK0KXPqsAgFHv+stD5FJQ93DBRPGF63UJqjCj0zyRJCHT/XGuwEw47S3JtUqBcMv3f0WODS0A194ioTFQ53ek3UsS8uh8wQe0hZfddH8dabr7iP7tEu83kfzDPTm3VaalEUuVEE0AP57SbNPUfNEL7OPcyL1NH+krKIGzohaaSxOEUJtPPRsc/wuuQ5g5dmkUTK6zv0MB+VE6U1XlQ1PJiVRyO36pfYVbTgakPMPuEv59l9o2mrEIhoKfK7aDhRF/I+eGzokAC5F1+Qan3j4z1AFMTOTTi8g22jMNLCf633+Y5DjZpdhxQW1FYX8hNkCvYouuSswAAQAAAAAAAABAAAAAAAAAAJLVTLYlbXj1seC1xOzhvhs1uFJM16zoapBz4v4Jy64tNmML3XA5Fu8l4oVUEKKaTXN+mHcis/FpOQ+rOMuaYuRAAAAAAAAAAPQrWFobjac/us2ZRAMQM3bvwvypSVzbzaEQEyZDdaZKzecuAbVEcymD5R7SHb4CqpJe5ZRaQ2ZyGTCa6G2SgkzXMYQy5N8XGpkc45FTCyUBZymAUvzSBxH6v4pTk+mivPuiM5bjNGSRojJjwCP/QACaztwvov6PIcisC4W3bI7zA0+S0HW8jdhLKCwjHBPdw0FQqygIqINGnQMv8xZPkgH/1VET3VKvHcD234uA4FkMVSQepguV6iuo2P+dhBClYJ4cUbQRzfcH4SVxk1PRtwAMujjBGpSVmN3yNn2JCYGTn7VCJ2n1A9rzoxOBbnwOp4vH5DXYxLDhmqfNBCG0IgG1AglRDESbc0zejMT7E0Jz697DKSx4d9yEDcrnOy1i/AK3qD2C8oIxZmTutcWJ9QD8PaRyHnWcoein+dpf4lFA/1aENiU+/Hj2dvAsYo0rVwIptawbwYHHFrJjJZEMPAE+67qvDqgY0by7opFHuRNuAI1SpD7kCbTWroWpzNFSHqldXa6WrA/+olZ6NZgZ2QCiNgS7TFbkzntHR8SlVB4NZGCCUACzi/tIFoku5IE8b782xZVFISNtxUSB6BEQ1wCfFEQdpQUMaYPkf6dXdzyNvTC/QRVYuCT4LE4SScZ5H+q7iLNX06lAO12Y2KRmaAGPB7X8KVtgxzDrUm1rz0TL+Q4AIvObmGvTqaUfvhDW6u+pJdwtTo8qX4jtpCD1JQAnVgbOXesRkvQizSH9F1/NFo6v6xhp+7k2O+foHl1VdKv+HdExbcaCG6lOzEX0TgG8+2Ubsk6PSe/r+hG70aGXx/TLeabmObSFd1qR4tLsuSG+hItnzCK7/71GcHT7mADXM0mMpotjXCH/TybkbqRxFJnvYYFR7wDX6bbqvA2JRfkM/WGwMuuxLI9xpyKvXQBm2vhmZW7HixO/+VAzXeRgL4MQwyCjLPcIk54PiE7/wHf8DuS671OEMbCl5nIhTwAY1gAWKMppO88S/yX4la3dRxFgDoVXz9h4yAHOFO4S2WHLi1Efa7Eou6lJG8LchQADAAAAAAAAAAQAAAAAAAAAAwAAAAAAAAAoAQAAAAAAABmPxolJhPV9UhWaqtcGj73DNS3D8k0SW5wxC69TULyQftw3LMJ6gEq9JCtClz6rAIBR7/rLQ+RSUPdwwUTxhet1Caowo9M8kSQh0/1xrsBMOO0tybVKgXDL939Fjg0tANfeIqExUOd3pN1LEvLofMEHtIWX3XR/HWm6+4j+7RLvN5H8wz05t1WmpRFLlRBNAD+e0mzT1HzRC+zj3Mi9TR/pKyiBs6IWmksThFCbTz0bHP8LrkOYOXZpFEyus79DAflROlNV5UNTyYlUcjt+qX2FW04GpDzD7hL+fZfaNpqxCIaCnyu2g4URfyPnhs6JAAuRdfkGp94+M9QBTEzk04vINtozDSwn+t9/mOQ42aXYcUFtRWF/ITZAr2KLrkrMAAEAAAAAAAAAQAAAAAAAAACS1Uy2JW149bHgtcTs4b4bNbhSTNes6GqQc+L+CcuuLTZjC91wORbvJeKFVBCimk1zfph3IrPxaTkPqzjLmmLkQAAAAAAAAAD0K1haG42nP7rNmUQDEDN278L8qUlc282hEBMmQ3WmSs3nLgG1RHMpg+Ue0h2+AqqSXuWUWkNmchkwmuhtkoJM1zGEMuTfFxqZHOORUwslAWcpgFL80gcR+r+KU5Pporz7ojOW4zRkkaIyY8Aj/0AAms7cL6L+jyHIrAuFt2yO8wNPktB1vI3YSygsIxwT3cNBUKsoCKiDRp0DL/MWT5IB/9VRE91Srx3A9t+LgOBZDFUkHqYLleorqNj/nYQQpWCeHFG0Ec33B+ElcZNT0bcADLo4wRqUlZjd8jZ9iQmBk5+1Qidp9QPa86MTgW58DqeLx+Q12MSw4ZqnzQQhtCIBtQIJUQxEm3NM3ozE+xNCc+vewykseHfchA3K5zstYvwCt6g9gvKCMWZk7rXFifUA/D2kch51nKHop/naX+JRQP9WhDYlPvx49nbwLGKNK1cCKbWsG8GBxxayYyWRDDwBPuu6rw6oGNG8u6KRR7kTbgCNUqQ+5Am01q6FqczRUh6pXV2ulqwP/qJWejWYGdkAojYEu0xW5M57R0fEpVQeDWRgglAAs4v7SBaJLuSBPG+/NsWVRSEjbcVEgegRENcAnxREHaUFDGmD5H+nV3c8jb0wv0EVWLgk+CxOEknGeR/qu4izV9OpQDtdmNikZmgBjwe1/ClbYMcw61Jta89Ey/kOACLzm5hr06mlH74Q1urvqSXcLU6PKl+I7aQg9SUAJ1YGzl3rEZL0Is0h/RdfzRaOr+sYafu5Njvn6B5dVXSr/h3RMW3GghupTsxF9E4BvPtlG7JOj0nv6/oRu9Ghl8f0y3mm5jm0hXdakeLS7LkhvoSLZ8wiu/+9RnB0+5gA1zNJjKaLY1wh/08m5G6kcRSZ72GBUe8A1+m26rwNiUX5DP1hsDLrsSyPcacir10AZtr4ZmVux4sTv/lQM13kYC+DEMMgoyz3CJOeD4hO/8B3/A7kuu9ThDGwpeZyIU8AGNYAFijKaTvPEv8l+JWt3UcRYA6FV8/YeMgBzhTuEtlhy4tRH2uxKLupSRvC3IUAAwAAAAAAAAAEAAAAAAAAAAMAAAAAAAAAKAEAAAAAAAAZj8aJSYT1fVIVmqrXBo+9wzUtw/JNElucMQuvU1C8kH7cNyzCeoBKvSQrQpc+qwCAUe/6y0PkUlD3cMFE8YXrdQmqMKPTPJEkIdP9ca7ATDjtLcm1SoFwy/d/RY4NLQDX3iKhMVDnd6TdSxLy6HzBB7SFl910fx1puvuI/u0S7zeR/MM9ObdVpqURS5UQTQA/ntJs09R80Qvs49zIvU0f6SsogbOiFppLE4RQm089Gxz/C65DmDl2aRRMrrO/QwH5UTpTVeVDU8mJVHI7fql9hVtOBqQ8w+4S/n2X2jaasQiGgp8rtoOFEX8j54bOiQALkXX5BqfePjPUAUxM5NOLyDbaMw0sJ/rff5jkONml2HFBbUVhfyE2QK9ii65KzAABAAAAAAAAAEAAAAAAAAAAktVMtiVtePWx4LXE7OG+GzW4UkzXrOhqkHPi/gnLri02YwvdcDkW7yXihVQQoppNc36YdyKz8Wk5D6s4y5pi5EAAAAAAAAAA9CtYWhuNpz+6zZlEAxAzdu/C/KlJXNvNoRATJkN1pkrN5y4BtURzKYPlHtIdvgKqkl7llFpDZnIZMJrobZKCTD0AAAAAAAAAGgAAAAAAAAANAAAAAAAAACsAAAAAAAAAOwAAAAAAAADk3Ekq6EI2nBp7ec73naC47gxnvM0x7G7j7bLLy3f7qNu/wwWF6JVQWhaZOzpl22jenv5KEpB61I7HamhyXBMKBL1m/kgWFqcWGErrcGvafy8k2n7Hn5JzlMroguWrgNhdXDRiWCuGrMrJ9QhKDGjZJ61+7vhKs+in1jBtIQKYDse8/NRxE8VTgun8QPJ9+USmKgWDnKD3HbRKkD9nAO+oc7/jJ2vyS1/JdEZ3rj1JAEfy1bjVJRjHr1YgVh3B2RA7PwMyu07x27phZE2ixF/7usrARFQ+v+4TNTahKMho57pg0lDYKCxrWNO6kNUnnRwS1ZRy3g9rAMTLFV4aU6cPXF+V3DXedjxYlkgpteFSn8ClJwALRX9N6e+wWvVMnw7v2LFjWmdTSeYrNkZXG2bwMxBZz0NzXBpmdD7286rfDw==",
          "genesis_signature": "",
        }

    Snapshot:
      description: Snapshot represents a snapshot file and its metadata
      type: object
      additionalProperties: false
      required:
        - digest
        - beacon
        - certificate_hash
        - size
        - created_at
        - locations
      properties:
        digest:
          description: Digest that is signed by the signer participants
          type: string
          format: bytes
        beacon:
          $ref: "#/components/schemas/Beacon"
        certificate_hash:
          description: Hash of the associated certificate
          type: string
          format: bytes
        size:
          description: Size of the snapshot file in Bytes
          type: integer
          format: int64
        created_at:
          description: Date and time at which the snapshot was created
          type: string
          format: date-time
        locations:
          description: Locations where the binary content of the snapshot can be retrieved
          type: array
          items:
            type: string
      example:
        {
          "digest": "24qQwKgWw4mr5kRZLIUA9XAsB0vSvijo8FIfrGFwBtdCNQVhBc9PXu7RiCHSRem3MmHoKbo",
          "beacon":
            {
              "network": "mainnet",
              "epoch": 329,
              "immutable_file_number": 7060000,
            },
          "certificate_hash": "AsB0vSvijo8FIfrG/FwBtdCNQVhBc9P24qQwKgWw4mr5kRZL+IUA9XXu7RiCHSRem3MmHoKbo",
          "size": 26058531636,
          "created_at": "2022-07-21T17:32:28Z",
          "locations":
            [
              "https://mithril-cdn-us.iohk.io/snapshot/24qQwKgWw4mr5kRZLIUA9XAsB0vSvijo8FIfrGFwBtdCNQVhBc9PXu7RiCHSRem3MmHoKbo",
              "https://mithril-cdn-eu.iohk.io/snapshot/24qQwKgWw4mr5kRZLIUA9XAsB0vSvijo8FIfrGFwBtdCNQVhBc9PXu7RiCHSRem3MmHoKbo",
              "magnet:?xt=urn:sha1:YNCKHTQCWBTRNJIV4WNAE52SJUQCZO5C",
              "ipfs:QmPXME1oRtoT627YKaDPDQ3PwA8tdP9rWuAAweLzqSwAWT",
            ],
        }

    SnapshotMessage:
      description: This message represents a snapshot file and its metadata.
      allOf:
        - $ref: "#/components/schemas/Snapshot"

    Error:
      description: Internal error representation
      type: object
      additionalProperties: false
      required:
        - message
      properties:
        label:
          description: optional label
          type: string
        message:
          description: error message
          type: string
          example: "An error occurred, the operation could not be completed"
