[package]
name = "mithril-common"
version = "0.3.13"
description = "Common types, interfaces, and utilities for Mithril nodes."
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
include = ["**/*.rs", "Cargo.toml", "README.md", ".gitignore", "openapi.yaml"]

[lib]
crate-type = ["lib", "cdylib", "staticlib"]

[[bench]]
name = "digester"
harness = false

[dependencies]
anyhow = "1.0.79"
async-trait = "0.1.77"
bech32 = "0.9.1"
blake2 = "0.10.6"
chrono = { version = "0.4.33", features = ["serde"] }
ckb-merkle-mountain-range = "0.6.0"
digest = "0.10.7"
ed25519-dalek = { version = "2.1.0", features = ["rand_core", "serde"] }
fixed = "1.24.0"
glob = { version = "0.3.1", optional = true }
hex = "0.4.3"
jsonschema = { version = "0.17.1", optional = true }
kes-summed-ed25519 = { version = "0.2.1", features = [
    "serde_enabled",
    "sk_clone_enabled",
] }
minicbor = { version = "0.20", features = [
    "std",
    "half",
    "derive",
], optional = true }
nom = "7.1.3"
pallas-addresses = { version = "0.23.0", optional = true }
pallas-codec = { version = "0.23.0", optional = true }
pallas-network = { version = "0.23.0", optional = true }
pallas-primitives = { version = "0.23.0", optional = true }
pallas-traverse = { version = "0.23.0", optional = true }
rand_chacha = "0.3.1"
rand_core = "0.6.4"
rayon = "1.8.1"
reqwest = { version = "0.11.23", optional = true }
semver = "1.0.21"
serde = { version = "1.0.196", features = ["derive"] }
serde_bytes = "0.11.14"
serde_cbor = "0.11.2"
serde_json = "1.0.113"
serde_with = "3.6.0"
serde_yaml = "0.9.31"
sha2 = "0.10.8"
slog = "2.7.0"
strum = { version = "0.26.1", features = ["derive"] }
thiserror = "1.0.56"
tokio = { version = "1.35.1", features = ["io-util", "rt", "sync"] }
typetag = "0.2.15"
walkdir = "2.4.0"
warp = { version = "0.3.6", optional = true }

[target.'cfg(target_family = "unix")'.dependencies]
# only unix supports the default rug backend
mithril-stm = { path = "../mithril-stm", version = "0.3" }

[target.'cfg(windows)'.dependencies]
# Windows doesn't support rug backend, fallback to num-integer
mithril-stm = { path = "../mithril-stm", version = "0.3", default-features = false, features = [
    "num-integer-backend",
] }

[target.'cfg(target_family = "wasm")'.dependencies]
# WASM doesn't support rug backend, fallback to num-integer
mithril-stm = { path = "../mithril-stm", version = "0.3", default-features = false, features = [
    "num-integer-backend",
] }
wasm-bindgen = "0.2.90"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports", "async_tokio"] }
mockall = "0.12.1"
pallas-crypto = "0.23.0"
rand_core = { version = "0.6.4", features = ["getrandom"] }
reqwest = { version = "0.11.23", features = ["json"] }
slog-async = "2.8.0"
slog-scope = "4.4.0"
slog-term = "2.9.0"
tokio = { version = "1.35.1", features = ["macros", "time"] }

[build-dependencies]
mithril-build-script = { path = "../internal/mithril-build-script", version = "=0.1.3" }

[features]
default = []

# Full feature set
full = ["random", "fs", "test_tools"]
random = ["rand_core/getrandom"]
fs = [
    "tokio/fs",
    "tokio/process",
    "dep:minicbor",
    "dep:pallas-addresses",
    "dep:pallas-codec",
    "dep:pallas-network",
    "dep:pallas-primitives",
    "dep:pallas-traverse",
]

# Portable feature avoids SIGILL crashes on CPUs not supporting Intel ADX instruction set when built on CPUs that support it
portable = ["mithril-stm/portable"]

# Disable signer certification, to be used only for tests
allow_skip_signer_certification = []
# Enable all tests tools
test_tools = ["apispec", "test_http_server", "random"]
# Enable tools to helps validate conformity to an OpenAPI specification
apispec = ["dep:glob", "dep:jsonschema", "dep:warp", "dep:reqwest"]
test_http_server = ["dep:warp"]

[package.metadata.docs.rs]
all-features = true
# enable unstable features in the documentation
rustdoc-args = ["--cfg", "docsrs"]
