name: publish-wasm-package
description: |
  Deploy the WASM package to npm
inputs:
  dry_run:
    description: Dry run will not publish to npm, just test it.
    required: true
  package_dir:
    description: directory containing the package.json file.
    required: true
  tag:
    description: npm package tag.
    required: false
    default: "latest"
  access:
    description: npm package access.
    required: false
    default: "public"
  api_token:
    description: npm API token.
    required: false

runs:
  using: "composite"
  steps:
    - uses: actions/setup-node@v6
      with:
        node-version: "lts/*"
        package-manager-cache: "false"
        # Note: setting up the registry allows auth to be passed via env.NODE_AUTH_TOKEN
        registry-url: https://registry.npmjs.org

    - name: Prepare
      id: prepare
      shell: bash
      run: |
        echo "package_name=$(jq -r ".name" < "${{ inputs.package_dir }}"/package.json)" >> $GITHUB_OUTPUT
        echo "package_local_version=$(jq -r ".version" < "${{ inputs.package_dir }}"/package.json)" >> $GITHUB_OUTPUT

    - name: Check npm latest version
      id: check_version
      shell: bash
      run: |
        echo "Check npmjs.com latest published version for '${{ steps.prepare.outputs.package_name }}' package"

        if [ "${{ inputs.tag }}" != "latest" -a "${{ inputs.tag }}" != "next" ]; then
          echo "Tag '${{ inputs.tag }}' is not valid. It should be one of 'latest' or 'next'"
          exit 1
        fi

        NEXT_REMOTE_VERSION=$(npm view ${{ steps.prepare.outputs.package_name }} dist-tags.next 2> /dev/null || true)
        LATEST_REMOTE_VERSION=$(npm view ${{ steps.prepare.outputs.package_name }} dist-tags.latest 2> /dev/null || true)

        echo "Latest npmjs.com version: '$LATEST_REMOTE_VERSION'"
        echo "Next npmjs.com version: '$NEXT_REMOTE_VERSION'"
        echo "Local version: '${{ steps.prepare.outputs.package_local_version }}'"

        if [ "${{ inputs.tag }}" == "latest" ]; then
          if [ "${{ steps.prepare.outputs.package_local_version }}" == "$LATEST_REMOTE_VERSION" ]; then
            echo "Local version and remote version are the same: no need to publish to npm registry"
            DEPLOY_MODE='none'
          elif [ "${{ steps.prepare.outputs.package_local_version }}" == "$NEXT_REMOTE_VERSION" ]; then
            DEPLOY_MODE='promote'
          else
            DEPLOY_MODE='publish'
          fi
        else # input.tag == 'next'
          if [ "${{ steps.prepare.outputs.package_local_version }}" == "$LATEST_REMOTE_VERSION" ]; then
            # A latest already published: no need to tag with next
            echo "Local version and remote version are the same: no need to publish to npm registry"
            DEPLOY_MODE='none'
          elif [ "${{ steps.prepare.outputs.package_local_version }}" == "$NEXT_REMOTE_VERSION" ]; then
            echo "Local version and remote version are the same: no need to publish to npm registry"
            DEPLOY_MODE='none'
          else
            DEPLOY_MODE='publish'
          fi
        fi

        echo "Deploy mode: '$DEPLOY_MODE'"
        echo "Dry run: '${{ inputs.dry_run }}'"
        echo "deploy_mode=$DEPLOY_MODE" >> $GITHUB_OUTPUT

    - name: Build package
      shell: bash
      working-directory: ${{ inputs.package_dir }}
      env:
        WASM_PACK_ARGS: --release
      run: |
        echo "::group::Build '${{ steps.prepare.outputs.package_name }}' package"
        make build
        echo "::endgroup::"

    - name: Prepare publish
      shell: bash
      run: |
        cp ./LICENSE ${{ inputs.package_dir }}
        cp -f ${{ inputs.package_dir }}/npm/README.md ${{ inputs.package_dir }}/

    - name: List package
      shell: bash
      run: |
        echo "List '${{ steps.prepare.outputs.package_name }}' package"
        ls -al -R ${{ inputs.package_dir }}/dist

    - name: Publish package new version
      if: steps.check_version.outputs.deploy_mode == 'publish'
      shell: bash
      working-directory: ${{ inputs.package_dir }}
      env:
        NODE_AUTH_TOKEN: ${{ inputs.api_token }}
      run: |
        echo "Publish '${{ steps.prepare.outputs.package_name }}' package"
        if [ -z "${NODE_AUTH_TOKEN}" -a "${{ inputs.dry_run }}" == "true" ]; then
          echo "Warning: An NPM access token is required for authentication and has not been provided."
        else
          npm whoami
        fi

        if [ "${{ inputs.dry_run }}" == "false" ]; then
          dry_run_option=""
        else
          dry_run_option="--dry-run"
        fi
        npm publish --tag ${{ inputs.tag }} --access ${{ inputs.access }} $dry_run_option

    - name: Promote package distribution tag to 'latest'
      if: inputs.dry_run == 'false' && steps.check_version.outputs.deploy_mode == 'promote'
      shell: bash
      working-directory: ${{ inputs.package_dir }}
      env:
        NODE_AUTH_TOKEN: ${{ inputs.api_token }}
      run: |
        echo "Promote '${{ steps.prepare.outputs.package_name }}' package version '${{ steps.prepare.outputs.package_local_version }}' from 'next' to 'latest'"
        npm whoami
        npm dist-tag add ${{ steps.prepare.outputs.package_name }}"@${{ steps.prepare.outputs.package_local_version }} latest
        npm dist-tag rm ${{ steps.prepare.outputs.package_name }}"@${{ steps.prepare.outputs.package_local_version }} next
