global:
  scrape_interval:     1s 
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['prometheus:9090']

  - job_name: 'node-exporter'
    static_configs:
    - targets: ['node-exporter:9100']

  - job_name: 'process-exporter'
    static_configs:
    - targets: ['process-exporter:9256']


