[package]
name = "mithril-metric"
version = "0.0.1"
description = "Common tools to expose metrics."
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[lib]
crate-type = ["lib", "cdylib", "staticlib"]

[dependencies]
anyhow = "1.0.86"
axum = "0.7.5"
mithril-common = { path = "../../mithril-common", features = ["full"] }
prometheus = "0.13.4"
reqwest = { version = "0.12.7", features = ["json", "stream"] }
slog = { version = "2.7.0", features = [
    "max_level_trace",
    "release_max_level_debug",
] }
tokio = { version = "1.40.0", features = ["full"] }

[dev-dependencies]
prometheus-parse = "0.2.5"
slog-async = "2.8.0"
slog-term = "2.9.1"