[package]
name = "mithril-metric"
version = "0.1.20"
description = "Common tools to expose metrics."
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = { workspace = true }
axum = "0.8.8"
mithril-common = { path = "../../mithril-common" }
paste = "1.0.15"
prometheus = "0.14.0"
reqwest = { workspace = true, features = ["default", "stream"] }
slog = { workspace = true }
tokio = { workspace = true }

[dev-dependencies]
prometheus-parse = "0.2.5"
slog-async = { workspace = true }
slog-term = { workspace = true }
