[package]
name = "mithril-resource-pool"
version = "0.0.8"
description = "Provide a resource pool for Mithril."
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = { workspace = true }
mithril-common = { path = "../../mithril-common" }
thiserror = { workspace = true }
tokio = { workspace = true }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "time"] }
