[package]
name = "mithril-aggregator-fake"
version = "0.4.17"
description = "Mithril Fake Aggregator for client testing"
authors = { workspace = true }
documentation = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = { workspace = true }
axum = { version = "0.8.8", features = ["tokio", "http1"] }
clap = { workspace = true }
futures = "0.3.32"
mithril-build-script = { path = "../../internal/mithril-build-script" }
serde = { workspace = true }
serde_json = { workspace = true }
signal-hook = "0.4.3"
signal-hook-tokio = { version = "0.4.0", features = ["futures-v0_3"] }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
tower-http = { version = "0.6.8", features = ["trace", "cors"] }
tracing = { workspace = true }
tracing-subscriber = "0.3.22"

[build-dependencies]
mithril-build-script = { path = "../../internal/mithril-build-script" }

[dev-dependencies]
mithril-api-spec = { path = "../../internal/tests/mithril-api-spec" }
reqwest = { workspace = true }
warp = { workspace = true }
