[package]
name = "mithril-signed-entity-preloader"
version = "0.0.11"
description = "A preload mechanism for Cardano Transaction signed entity."
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
mithril-cardano-node-chain = { path = "../../cardano-node/mithril-cardano-node-chain" }
mithril-common = { path = "../../../mithril-common" }
mithril-signed-entity-lock = { path = "../mithril-signed-entity-lock" }
slog = { workspace = true }
tokio = { workspace = true }

[dev-dependencies]
mockall = { workspace = true }
slog-async = { workspace = true }
slog-term = { workspace = true }
tokio = { workspace = true, features = ["macros"] }
