[package]
name = "mithril-client"
version = "0.4.4"
description = "A Mithril Client"
authors = { workspace = true }
edition = { workspace = true }
documentation = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = "1.0.75"
async-recursion = "1.0.4"
async-trait = "0.1.73"
chrono = { version = "0.4.26", features = ["serde"] }
clap = { version = "4.3.22", features = ["derive", "env"] }
cli-table = "0.4.7"
config = "0.13.3"
directories = "5.0.1"
flate2 = "1.0.27"
flume = "0.11.0"
fs2 = "0.4.3"
futures = "0.3.28"
hex = "0.4.3"
human_bytes = { version = "0.4.2", features = ["fast"] }
indicatif = { version = "0.17.6", features = ["tokio"] }
mithril-common = { path = "../mithril-common" }
openssl = { version = "0.10.56", features = ["vendored"], optional = true }
openssl-probe = { version = "0.1.5", optional = true }
reqwest = { version = "0.11.18", features = ["json", "stream"] }
semver = "1.0.18"
serde = { version = "1.0.183", features = ["derive"] }
serde_json = "1.0.105"
slog = { version = "2.7.0", features = [
    "max_level_trace",
    "release_max_level_debug",
] }
slog-async = "2.7.0"
slog-scope = "4.4.0"
slog-term = "2.9.0"
tar = "0.4.40"
thiserror = "1.0.47"
tokio = { version = "1.32.0", features = ["full"] }
zstd = "0.12.4"

[dev-dependencies]
httpmock = "0.6.8"
mithril-common = { path = "../mithril-common" }
mockall = "0.11.4"

[features]
portable = ["mithril-common/portable"]
bundle_openssl = ["dep:openssl", "dep:openssl-probe"]
