[package]
name = "mithril-cardano-node-internal-database"
version = "0.1.8"
description = "Mechanisms that allow Mithril nodes to read the files of a Cardano node internal database and compute digests from them"
authors.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
include = ["**/*.rs", "Cargo.toml", "README.md", ".gitignore"]

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
digest = { workspace = true }
hex = { workspace = true }
mithril-common = { path = "../../../mithril-common", version = ">=0.6" }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = "0.10.9"
slog = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["fs", "io-util"] }
walkdir = "2.5.0"

[dev-dependencies]
criterion = { version = "0.7.0", features = ["html_reports", "async_tokio"] }
mockall = { workspace = true }
slog-async = { workspace = true }
slog-term = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }

[[bench]]
name = "digester"
harness = false
