name: Aggregator stress test

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: SHA of the commit on which the aggregator binary should be obtained.
        required: true
        type: string
      num_signers:
        description: Number of concurrent signers
        required: true
        type: string
        default: "100"
      num_clients:
        description: Number of concurrent clients
        required: true
        type: string
        default: "100"
      enable_debug:
        description: Enable debug output ("-vvv") for the aggregator stress test
        required: true
        type: boolean
        default: false

jobs:
  stress-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Prepare environment variables
        id: prepare
        shell: bash
        run: |
          if [[ "${{ inputs.enable_debug }}" == "true" ]]; then
            echo "debug_level=-vvv" >> $GITHUB_OUTPUT
          fi

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Download built artifacts (Linux-x64)
        uses: dawidd6/action-download-artifact@v3
        with:
          name: mithril-distribution-Linux-X64
          path: ./bin
          commit: ${{ inputs.commit_sha }}
          workflow: ci.yml
          workflow_conclusion: success

      - name: Download test runners
        uses: dawidd6/action-download-artifact@v3
        with:
          name: mithril-tooling-Linux-X64
          path: ./bin
          commit: ${{ inputs.commit_sha }}
          workflow: ci.yml
          workflow_conclusion: success

      - name: Set permissions
        shell: bash
        working-directory: ./bin
        run: |
          chmod +x ./mithril-aggregator
          chmod +x ./load-aggregator

      - name: Run the aggregator stress test
        run: |
            ./bin/load-aggregator ${{ steps.prepare.outputs.debug_level }} \
            --cardano-cli-path ./mithril-test-lab/mithril-end-to-end/script/mock-cardano-cli \
            --aggregator-dir ./bin \
            --num-signers=${{ inputs.num_signers }} \
            --num-clients=${{ inputs.num_clients }}
