name: CI

on:
  push:
    branches: # only run on branch push, tag push will be ignored
      - '**'
    paths-ignore: # ignore docs only changes since they use a dedicated workflows: docs.yml
      - 'docs/**'
      - 'mithril-explorer/**'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        project: [
          mithril-core,
          mithril-common,
          mithril-aggregator,
          mithril-client,
          mithril-signer,
          mithril-test-lab/mithril-end-to-end,
          demo/protocol-demo
        ]
        os: [ubuntu-22.04]
        
        include:
        - project: mithril-core
          cargo_project_name: mithril
          artifacts_pattern: libmithril
        - project: mithril-common
          artifacts_pattern: libmithril_common
        - project: mithril-client
          os: macos-latest
        - project: mithril-client
          os: windows-latest
        - project: mithril-test-lab/mithril-end-to-end
          cargo_project_name: mithril-end-to-end
          artifacts_base_name: mithril-end-to-end
          artifacts_pattern: mithril-end-to-end
        - project: demo/protocol-demo
          cargo_project_name: mithrildemo
          artifacts_base_name: mithrildemo
          artifacts_pattern: mithrildemo
    env:
      CARGO_PROJECT_NAME: ${{ matrix.project }}
      ARTIFACTS_BASE_NAME: ${{ matrix.project }}
      ARTIFACTS_PATTERN: ${{ matrix.project }}
      
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Overriding default $CARGO_PROJECT_NAME with matrix value
        if: ${{ matrix.cargo_project_name }}
        run: echo "CARGO_PROJECT_NAME=${{ matrix.cargo_project_name }}" >> $GITHUB_ENV
      
      - name: Overriding default $ARTIFACTS_BASE_NAME with matrix value
        if: ${{ matrix.artifacts_base_name }}
        run: echo "ARTIFACTS_BASE_NAME=${{ matrix.artifacts_base_name }}" >> $GITHUB_ENV

      - name: Overriding default $ARTIFACTS_PATTERN with matrix value
        if: ${{ matrix.artifacts_pattern }}
        run: echo "ARTIFACTS_PATTERN=${{ matrix.artifacts_pattern }}" >> $GITHUB_ENV

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ runner.os }}-cache-v${{ secrets.CACHE_VERSION }}
      
      - name: Cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --features portable -p ${{ env.CARGO_PROJECT_NAME }}

      - name: Publish ${{ matrix.project }} (${{ runner.os }}-${{ runner.arch }})
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACTS_BASE_NAME }}-${{ runner.os }}-${{ runner.arch }}
          path: |
            target/release/${{ env.ARTIFACTS_PATTERN }}*
          if-no-files-found: error
  
  test:
    strategy:
      fail-fast: false
      matrix:
        project: [
          mithril-core,
          mithril-common,
          mithril-aggregator,
          mithril-client,
          mithril-signer,
          mithril-test-lab/mithril-end-to-end,
          demo/protocol-demo
        ]
        os: [ubuntu-22.04]
        
        include:
          - project: mithril-core
            cargo_project_name: mithril
            cargo-args: --release # Mithril core tests are ~2x quicker on release build
          - project: mithril-common
          - project: mithril-client
            os: macos-latest
          - project: mithril-client
            os: windows-latest
          - project: mithril-test-lab/mithril-end-to-end
            cargo_project_name: mithril-end-to-end
            artifacts_base_name: mithril-end-to-end
          - project: demo/protocol-demo
            cargo_project_name: mithrildemo
            artifacts_base_name: mithrildemo
    env:
      CARGO_PROJECT_NAME: ${{ matrix.project }}
      ARTIFACTS_BASE_NAME: ${{ matrix.project }}
    
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Overriding default $CARGO_PROJECT_NAME with matrix value
        if: ${{ matrix.cargo_project_name }}
        run: echo "CARGO_PROJECT_NAME=${{ matrix.cargo_project_name }}" >> $GITHUB_ENV

      - name: Overriding default $ARTIFACTS_BASE_NAME with matrix value
        if: ${{ matrix.artifacts_base_name }}
        run: echo "ARTIFACTS_BASE_NAME=${{ matrix.artifacts_base_name }}" >> $GITHUB_ENV

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ runner.os }}-cache-v${{ secrets.CACHE_VERSION }}

      - name: Install cargo tools
        if: ${{ steps.cargo-cache.outputs.cache-hit == false }}
        shell: bash
        run: |
          cargo install cargo2junit 2>/dev/null || true # Suppress the "binary `xyz` already exists in destination" error

      - name: Cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --tests --features portable -p ${{ env.CARGO_PROJECT_NAME }} ${{ matrix.cargo-args }}

      - name: Run tests
        shell: bash
        run: |
          set -o pipefail && \
          cargo test --features portable -p $CARGO_PROJECT_NAME --no-fail-fast ${{ matrix.cargo-args }} \
              -- -Z unstable-options --format json --report-time \
              | tee >(cargo2junit > test-results-${{ env.artifacts_base_name }}-${{ runner.os }}-${{ runner.arch }}.xml)

      - name: Upload Tests Results
        uses: actions/upload-artifact@v3
        if: ${{ success() || failure() }}
        with:
          name: test-results-${{ env.ARTIFACTS_BASE_NAME }}-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./**/test-results-*.xml
  
  check:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: clippy, rustfmt
          override: true
      
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ runner.os }}-cache-v${{ secrets.CACHE_VERSION }}

      - name: Install cargo tools
        if: ${{ steps.cargo-cache.outputs.cache-hit == false }}
        shell: bash
        run: |
          cargo install cargo-sort 2>/dev/null || true # Suppress the "binary `xyz` already exists in destination" error

      - name: Cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --release --all-targets

      - name: Clippy Check
        uses: actions-rs/clippy-check@v1
        with:
          name: clippy
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --all-targets --no-deps -- -D warnings

      - name: Cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --check

      - name: Cargo sort
        shell: bash
        run: cargo sort -w -c

  run-test-lab:
    runs-on: ubuntu-22.04
    needs: [ build ]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Download aggregator
        uses: actions/download-artifact@v3
        with:
          name: mithril-aggregator-${{ runner.os }}-${{ runner.arch }}
          path: ./bin

      - name: Download signer
        uses: actions/download-artifact@v3
        with:
          name: mithril-signer-${{ runner.os }}-${{ runner.arch }}
          path: ./bin

      - name: Download client
        uses: actions/download-artifact@v3
        with:
          name: mithril-client-${{ runner.os }}-${{ runner.arch }}
          path: ./bin

      - name: Download rust test runner
        uses: actions/download-artifact@v3
        with:
          name: mithril-end-to-end-${{ runner.os }}-${{ runner.arch }}
          path: ./

      - run: |
          chmod +x ./bin/mithril-aggregator
          chmod +x ./bin/mithril-client
          chmod +x ./bin/mithril-signer
          chmod +x ./mithril-end-to-end
          mkdir artifacts

      - name: Test
        run: ./mithril-end-to-end --bin-directory ./bin --work-directory=./artifacts --devnet-scripts-directory=./mithril-test-lab/mithril-devnet

      - name: Upload E2E Tests Artifacts
        if:  ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: mithril-e2e-tests-artifacts-run_${{ github.run_number }}-attempt_${{ github.run_attempt }}
          path: |
            ./artifacts/*
            # including node.sock makes the upload fails so exclude them:
            !./artifacts/**/node.sock
            # exclude cardano tools, saving ~50mb of data:
            !./artifacts/devnet/cardano-cli
            !./artifacts/devnet/cardano-node
          if-no-files-found: error
  
  publish-tests-results:
    if: ${{ success() || failure() }}
    runs-on: ubuntu-22.04
    needs: 
      - test
    steps:
      - name: Download mithril-core Tests Results
        if: ${{ success() || failure() }}
        uses: actions/download-artifact@v3
        with:
          name: test-results-mithril-core-${{ runner.os }}-${{ runner.arch }}

      - name: Download mithril-common Tests Results
        if: ${{ success() || failure() }}
        uses: actions/download-artifact@v3
        with:
          name: test-results-mithril-common-${{ runner.os }}-${{ runner.arch }}
      
      - name: Download mithril-aggregator Tests Results
        if: ${{ success() || failure() }}
        uses: actions/download-artifact@v3
        with:
          name: test-results-mithril-aggregator-${{ runner.os }}-${{ runner.arch }}

      - name: Download mithril-client (${{ runner.os }}-${{ runner.arch }}) Tests Results
        if: ${{ success() || failure() }}
        uses: actions/download-artifact@v3
        with:
          name: test-results-mithril-client-${{ runner.os }}-${{ runner.arch }}

      - name: Download mithril-client (macOS-X64) Tests Results
        if: ${{ success() || failure() }}
        uses: actions/download-artifact@v3
        with:
          name: test-results-mithril-client-macOS-X64

      - name: Download mithril-client (Windows-X64) Tests Results
        if: ${{ success() || failure() }}
        uses: actions/download-artifact@v3
        with:
          name: test-results-mithril-client-Windows-X64

      - name: Download mithril-signer Tests Results
        if: ${{ success() || failure() }}
        uses: actions/download-artifact@v3
        with:
          name: test-results-mithril-signer-${{ runner.os }}-${{ runner.arch }}

      - name: Download mithril-end-to-end Tests Results
        if: ${{ success() || failure() }}
        uses: actions/download-artifact@v3
        with:
          name: test-results-mithril-end-to-end-${{ runner.os }}-${{ runner.arch }}

      - name: Download mithril-demo Tests Results
        if: ${{ success() || failure() }}
        uses: actions/download-artifact@v3
        with:
          name: test-results-mithrildemo-${{ runner.os }}-${{ runner.arch }}
      
      - name: Publish Unit Test Results
        if: ${{ success() || failure() }}
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: ./**/test-results-*.xml

  docker-mithril:
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'push' }}
    needs:
      - build
      - check
      - test
      - run-test-lab
    strategy:
      fail-fast: false
      matrix:
        project: [ mithril-aggregator, mithril-client, mithril-signer ]
    
    permissions:
      contents: read
      packages: write

    env:
      PUSH_PACKAGES: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository_owner }}/${{ matrix.project }}
      DOCKER_FILE: ./${{ matrix.project }}/Dockerfile.ci
      CONTEXT: .
      GITHUB_REF: ${{ github.ref}}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            unstable
            type=raw,value={{branch}}-{{sha}}

      - name: Download ${{ matrix.project }} executable
        uses: actions/download-artifact@v3
        with:
          name: ${{ matrix.project }}-${{ runner.os }}-${{ runner.arch }}
          path: ${{ matrix.project }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: ${{ env.CONTEXT }}
          file: ${{ env.DOCKER_FILE }}
          push: ${{ env.PUSH_PACKAGES }}
          tags: ${{ steps.meta.outputs.tags }}

  unstable-release:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-22.04
    needs:
      - build
      - test
      - run-test-lab
      - check
    steps:
      - name: Download mithril-core lib
        uses: actions/download-artifact@v3
        with:
          name: mithril-core-${{ runner.os }}-${{ runner.arch }}
          path: ./build

      - name: Download aggregator
        uses: actions/download-artifact@v3
        with:
          name: mithril-aggregator-${{ runner.os }}-${{ runner.arch }}
          path: ./build

      - name: Download signer
        uses: actions/download-artifact@v3
        with:
          name: mithril-signer-${{ runner.os }}-${{ runner.arch }}
          path: ./build

      - name: Download client (${{ runner.os }}-${{ runner.arch }})
        uses: actions/download-artifact@v3
        with:
          name: mithril-client-${{ runner.os }}-${{ runner.arch }}
          path: ./build

      - name: Download client (macOS-X64)
        uses: actions/download-artifact@v3
        with:
          name: mithril-client-macOS-X64
          path: ./build

      - name: Download client (Windows-X64)
        uses: actions/download-artifact@v3
        with:
          name: mithril-client-Windows-X64
          path: ./build

      - name: Update unstable release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: unstable
          prerelease: true
          title: Unstable Development Builds
          files: build/*

  terraform:
    runs-on: ubuntu-22.04
    needs:
      - docker-mithril
    env:
      # Contains a JSON-formatted service account key
      GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
      # Contains a RSA private key
      GCLOUD_PRIVATE_KEY: ${{ secrets.GCLOUD_PRIVATE_KEY }}
      GENESIS_SECRET_KEY: ${{ secrets.TEST_ONLY_GENESIS_SECRET_KEY }}
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

    defaults:
      run:
        working-directory: mithril-infra

    steps:
    - name: Checkout sources
      uses: actions/checkout@v3

    - name: Get short SHA
      id: slug
      run: echo "sha8=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false

    - name: Init Terraform
      run: terraform init

    - name: Check Terraform
      run: terraform fmt -check

    - name: Terraform Plan
      run: |
        terraform plan -var "image_id=${{ env.BRANCH_NAME }}-${{ steps.slug.outputs.sha8 }}" -var 'private_key=${{ env.GCLOUD_PRIVATE_KEY }}' -var 'google_application_credentials_json=${{ env.GOOGLE_CREDENTIALS }}' -var 'genesis_secret_key=${{ env.GENESIS_SECRET_KEY }}'

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: |
        terraform apply -auto-approve -var "image_id=${{ env.BRANCH_NAME }}-${{ steps.slug.outputs.sha8 }}" -var 'private_key=${{ env.GCLOUD_PRIVATE_KEY }}' -var 'google_application_credentials_json=${{ env.GOOGLE_CREDENTIALS }}' -var 'genesis_secret_key=${{ env.GENESIS_SECRET_KEY }}'
