name: Nightly Dispatcher

on:
  workflow_dispatch:
  # Important note about scheduled workflows:
  # Notifications for scheduled workflows are sent to the user who last modified the cron syntax in the workflow file.
  schedule:
    - cron: "0 2 * * *"

jobs:
  backward-compatibility:
    uses: ./.github/workflows/backward-compatibility.yml

  docker-builds:
    uses: ./.github/workflows/docker-builds.yml

  aggregator-stress-test:
    uses: ./.github/workflows/aggregator-stress-test.yml

  test-client:
    uses: ./.github/workflows/test-client.yml

  notify-on-failure:
    uses: ./.github/workflows/test-notify-on-failure.yml
    needs: [docker-builds, aggregator-stress-test, test-client]
    if: failure()
